<div class="d-flex align-items-center justify-content-center w-100" style="height:100vh">
    <div class="alert alert-success" role="alert">
        Your Request has been submitted. It has been forwared to the Head of the Department.
    </div>
</div>